<h2>Users</h2>
<div class="table-wrapper">
    <h4>{{title}}</h4>
    <label>Search: <input class="search" type="text"/></label>
    
    <table>
        <tr>
            <td class="table-overview">
                <table class="user-table">
                    <thead>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Country</th>    
                    </thead>

                    {{#each model as |user|}}
                    <tr {{action 'showDetails'}}>
                        <td>
                            {{#link-to 'users.user' user}}
                                {{user.id}} 
                            {{/link-to}}
                        </td>

                        <td>
                            {{#link-to 'users.user' user}}
                                {{user.details.fname}}
                            {{/link-to}}
                        </td>
                        <td>
                            {{#link-to 'users.user' user}}
                                {{user.details.lname}}
                            {{/link-to}}
                        </td>
                        <td>
                            {{#link-to 'users.user' user}}
                                {{user.details.phone}}
                            {{/link-to}}
                        </td>
                        <td>
                            {{#link-to 'users.user' user}}
                                {{user.details.country}}
                            {{/link-to}}
                        </td>
                    </tr>
                  {{/each}}
                </table>
            </td>
            <td class="table-detail">
                <div class="with-details">
                    {{outlet}}
                </div>
            </td>
            </tr>
    </table>
</div>

